@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.preview-header {
    font-size: 12px;
    height: 54px;
    background-color: #262626;
    z-index: 2;
    line-height: 54px;
    margin-bottom: 1px;
    top: 0px;
    left: 0px;

}

html {
    background-color: #262626;
}

body {
    height: 100%;
    padding: 0px;
    margin: 0px;

    background-color: #262626;
}

body::-webkit-scrollbar {
    width: 1em;

}

body::-webkit-scrollbar-track {

    margin-top: 54px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {

    background-color: rgb(196, 196, 196);

}

.preview-header .preview__envato-logo {
    float: left;
    padding: 0px 20px;
}

.preview-header .btn-buynow {
    float: right;
    padding: 0px 20px;

}

.preview-header .btn-buynow {
    padding: 0px 20px;
    display: inline-block;
}

.preview-header .btn-buynow a {
    text-decoration: none;
    font-size: 14px;
    padding: 8px 20px;
    line-height: 1.5;
    color: #fff;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #82b440;
}

.preview-header .preview__envato-logo .header-envato_market img {
    display: inline-block;
    position: relative;
    width: 152px;
    background-size: 152px 18px;
    text-decoration: none;
    text-indent: -9999px;

}


html {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #545454;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    transition: all 0.5s ease-in-out;
}

header.sticky {
    background: #fff;
    color: #262626;
}

header.sticky li a,
.dropbtn {
    display: block;
    color: #262626;

    padding: 10px 16px;

    text-decoration: none;

}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.container-inner {
    text-align: center;
}

.text {
    font-family: "Oswald";
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 50px;
    position: relative;
}

.text:after {
    position: absolute;
    content: "";
    display: block;
    width: 38px;
    height: 1px;
    background: #0ec17c;
    top: 75px;
    left: 0px;
}

.title {
    color: #0ec17c;
    font-weight: 400;
    font-size: 1.25rem;
}

.des {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/* background header */
.container12 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.imagebackground {
    background: rgba(38, 38, 38, 0.8);
    left: 0;
    top: 50px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    z-index: 1;
    background-blend-mode: darken;
    text-decoration: none;
    position: absolute;
}

.imagebackground .row1 {
    display: flex;

}

.logo {
    margin-left: 115px;
    margin-top: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover,
.dropdown1:hover .dropbtn {
    color: #0ec17c;

    font-weight: normal;
}

li.dropdown1 {
    display: inline-block;
    font-weight: none;
}

.navbar1 {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;

    position: fixed;
    left: 50%;
    top: 11%;
}

.navbar-mobile {
    display: none;
}

.nav-input {
    display: none;
}

.nav-overplay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5454546e;
}

.fas.fa-bars {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-top: 3px solid #0ec17c;
    list-style: none;
    line-height: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid #5454542b;
    list-style: none;
    line-height: 1;
}

.dropdown-content a:hover {
    background-color: white;
    color: #0ec17c;
}

.dropdown1:hover .dropdown-content {
    display: block;
}

li.dropdown1.active>a {
    color: #0ec17c;
    font-weight: 500;
}

a.item.active {
    color: #0ec17c;

}

.imagebackground .title {
    content: "";
    position: absolute;
    z-index: -1;
    top: 29%;
    left: 19%;
    animation: ani ease 2s ;
    text-align: center;
 
}

@keyframes ani{
    0%  { left:19%; top:39%;}
    100% {left:19%; top:29%;}
}
.imagebackground .title h3 {
 
    font-size: 30px;
    color: #0ec17c;
    display: block;
    
}

.imagebackground .title h1:after {
    content: "";
    display: block;
    width: 138px;
    height: 3px;
    position: absolute;
    z-index: -1;
    background: #0ec17c;
    top: 175px;
    left: 400px;


}

.imagebackground .title h1 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 80px;
    text-shadow: 0px 0px 0px rgb(14 193 124 / 0%);
}

/* button need a cretive project */
.need-a-creative-project .project-image {
    background: rgba(38, 38, 38, 0.8);
    margin-top: 100px;
    left: 0;
    top: 0;
    height: 420px;
    width: 100%;
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    z-index: 1;
    background-blend-mode: darken;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;


}

.button .btn-contatc-now {
    background-color: #0ec17c;
    color: #fff;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    font-weight: 400px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 100px;
    text-decoration: none;
}

.button .btn-read-now {
    color: #fff;
    text-decoration: none;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    font-weight: 400px;
    margin: 15px;
    border: 2px solid;
    border-radius: 100px;
}

.button .btn-read-now:hover {
    border-color: #0ec17c;
    background-color: #0ec17c;
    color: #fff;
}

/* -------------------------------------------------------------who are you-----------------------------------------------------  */
.who-are-you {
    position: relative;
    padding-top: 1000px;
    background-color: #fff;

    padding-bottom: 100px;
}

.who-are-you .container {
    font-size: 14px;
    margin-left: 150px;
}

.who-are-you .container .row {
    padding-left: 50px;

}

.who-are-you .container .row .col-md-4 .des {
    font-style: italic;
    color: #262626b3;
}

.who-are-you .container .row .col-md-6 {
    text-align: left;
    font-size: 14px;
    color: #262626;
    font-family: 'Open Sans', sans-serif;
}

/* -------------------------------------------------------------what are offer-----------------------------------------------------  */
.what-we-offer {
    text-align: center;

    padding-top: 100px;

    background-color: #f9f9f9;
    box-shadow: 0 0 0 0 #ffffff;
}

.what-we-offer .container.text-center .row .col .image {
    width: 130px;
    height: 130px;
    margin-left: 90px;
    margin-bottom: 50px;
    border-radius: 8px;
    border: 1px solid #0ec17c;
    text-align: center;
    align-items: center;
    transform: rotate(45deg);

}

.what-we-offer .container.text-center .row .col .image img {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    transform: rotate(-45deg);

}


.what-we-offer .container-inner .text:after {
    left: 741px;
}

.what-we-offer .container.text-center .row .col .title {
    color: #262626;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 50px;
}

.what-we-offer .container.text-center .row .col .text:after {

    top: -30px;
    left: 40%;

}

.what-we-offer .container.text-center .row .col .text {
    width: 80%;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 50px;
    position: relative;
    color: #262626;
    left: 15%;
}

/* -------------------------------------------------------------need a creative project-----------------------------------------------------  */
.need-a-creative-project {
    text-align: center;
    margin-top: -100px;
    align-items: center;
    background-color: #fff;
}

.need-a-creative-project .description1 {
    padding-top: 100px;
}

.need-a-creative-project .description1 .container-inner .text {
    color: #fff;
    width: 50%;
    left: 25%;

}

.need-a-creative-project .description1 .container-inner .title {
    font-family: 'Open Sans', sans-serif;
}

.need-a-creative-project .description1 .container-inner .text::after {
    top: 120px;
    left: 48%;
    height: 2px;

}

/*-----------------------------------------------------------------the best project--------------------------------------------------------- */
.the-best-project {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff;
}

.the-best-project .container-inner .text::after {

    left: 740px;
    height: 2px;
}

.the-best-project .container-inner .title {
    font-family: 'Open Sans', sans-serif;

}



.the-best-project .row123 .container-all {
    margin-left: -12px;
}

.the-best-project .row123 .container-all .row2 {
    display: flex;
    height: 300px;
    width: 100%;
    max-width: 100%;
}

.the-best-project .row123 .container-all .row2 .col-md img {
    width: 380px;
    height: 300px;
}

.the-best-project-item {
    position: relative;

}

.overplay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0ec17cad;
    z-index: 0;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 17px 13px rgb(0 0 0 / 30%);
    display: none;
    transition: .3s;
}

.overplay .text {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    margin-top: 200px;
    margin-left: 30px;
}

.overplay .title {
    color: #262626;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-top: -40px;
    margin-left: 30px;
}

.the-best-project-item:hover .overplay {
    display: block;
}

.the-best-project .row123 .button-view-more {
    margin-top: 70px;
}

.button-view-more .btn-view-more:hover {
    position: relative;
    border-color: #0ec17c;
    background-color: #0ec17c;
    color: #fff;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    font-weight: 400;
    margin: 15px;
    border: 2px solid;
    border-radius: 100px;
    text-decoration: none;
}

.button-view-more .btn-view-more {
    position: relative;
    border-color: #0ec17c;
    color: #0ec17c;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    font-weight: 400;
    margin: 15px;
    border: 2px solid;
    border-radius: 100px;
    text-decoration: none;
    margin-top: 0px;
}

/* tabs */
/* Style the tab */
.tab {
    overflow: hidden;
    margin-left: 500px;
    color: #262626;
    font-family: "Oswald";
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.4s;
    font-size: 20px;

}

/* Create an active/current tablink class */
.tab button.active {
    color: #0ec17c;

}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;

    border-top: none;
}


/* ----------------------------------------------------------------Cooperation with us -------------------------------------------------*/
.cooperation {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    height: 850px;
    background-color: #f9f9f9;
    box-shadow: 0 0 0 0 #ffffff;
}

.cooperation .cooperation-title {
    margin-right: 50px;
    margin-left: 200px;
}

.cooperation .cooperation-title .text::after {
    top: 160px;
}

.cooperation .cooperation-title .button {
    margin-top: 20px;
}

/* drop image */
div.strip {
    margin-right: 30px;
    display: inline-block;
    background-image: url(https://raw.githubusercontent.com/uiaextend/jozon/main/01_01_Ozon_One_Page_1/unsplash_jeff-sheldon-264922.jpg);
    height: 550px;
    width: 370px;
    position: relative;
    background-position: 0 -20px;
}

div.strip2 {
    background-position: -490px -20px;
    top: 100px;
}






/*--------------------------------------------------------------------follow-------------------------------------------------------------- */
.follow {
    padding-top: 100px;
    padding-right: 200px;
    padding-bottom: 70px;
    padding-left: 190px;
    margin: 0px;
    color: #fff;
    background-image: url(https://raw.githubusercontent.com/uiaextend/jozon/main/01_01_Ozon_One_Page_1/pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 0 0;
    box-shadow: 0 0 0 0 #ffffff;
    will-change: top;
    background-color: rgba(14, 193, 124, 0.8);
}

.follow .container .row .col-sm-3 .number {
    color: #fff;
    font-size: 34px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.follow .container .row .col-sm-3 .text {
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

}

.follow .container .row .col-sm-3 .text:after {
    background: #fff;
    top: 30px;
    height: 2px;
}

/*-------------------------------------------------------------------- description-------------------------------------------------------------- */

.description {
    padding-top: 100px;
    padding-bottom: 50px;
    box-shadow: 0 0 0 0 #ffffff;
    padding-left: 200px;
    background-color: #fff;
}

.description .row2 {
    display: flex;
}

.description .row2 .col-sm-3 {
    margin-right: 30px;
    margin-bottom: 50px;
}

.description .row2 .col-sm-3 .one {
    display: flex;
}

.number1 {
    width: 48px;
    height: 48px;
    line-height: 48px;
    background-color: rgba(3, 225, 109, 0);
    color: #ccc;
    font-size: 45px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-radius: 100px;
    font-family: "Oswald";
}

.description .row2 .col-sm-3 .content {
    margin-left: 10px;
}

.description .row2 .col-sm-3 .content .title1 {
    color: #0ec17c;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    font-family: "Open Sans";
}

.description .row2 .col-sm-3 .content .text3 {
    font-size: 20px;
    color: #262626;
    margin-bottom: 0px;
    font-family: "Open Sans", sans-serif;
}

.description .row2 .col-sm-3 .content .text3::after {
    display: none;
}

.description .row2 .col-sm-3 .des {
    margin-top: 15px;
    color: rgba(38, 38, 38, 0.8);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

}

/*---------------------------------------------------------------------Our Team--------------------------------------------------------------- */
.our-team {
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: #f9f9f9;
    box-shadow: 0 0 0 0 #ffffff;
}

.section-mobile {
    display: none;
}

.our-team .container-inner .text::after {
    top: 60px;
    left: 740px;
    height: 2px;
}

/* slick slider */

.section .columns .column .slideshow1 .slide .col-md .carousel-image1 .info {
    background-color: #fff;
    height: 120px;
    text-align: center;
    padding-top: 20px;
    margin-right: 30px;
    border-bottom: 2px solid #0ec17c;
}

.section .columns .column .slideshow1 .slide .col-md-2 .carousel-image1 .info {
    background-color: #fff;
    height: 120px;
    text-align: center;
    padding-top: 20px;
    margin-right: 30px;
    border-bottom: 2px solid #0ec17c;
}

.section .columns .column .slideshow1 .slide .col-md-2 {
    width: 300px;
}

.name {
    font-size: 20px;
    letter-spacing: 0px;
    color: #262626;
    font-weight: 400;
    font-family: "Oswald";
    text-transform: uppercase;
}

.design {
    font-size: 14px;
    letter-spacing: 0px;
    color: rgba(38, 38, 38, 0.5);
    font-family: 'Open Sans', sans-serif;
}

/* slick slider */

.section .columns .column .slideshow1 .slide {
    display: flex;
}

.slide img {
    max-width: 100%;
    width: 100%;
    height: 300px;
    padding-right: 30px;
}

.slick-prev,
.slick-next {
    display: none !important;
}

.slick-dots li button {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 10px;
    font-size: 0px;
    padding: 7px;
    border: none;
    border-radius: 100%;
    background: rgba(38, 38, 38, 0.5);
}

.slick-dots li button:hover {
    background: #0ec17c;
    color: #0ec17c;
}

.slick-dots .slick-active button {
    background: #0ec17c;
    border-radius: 100%;
    color: #0ec17c;

}

.slick-dots {
    display: flex;
    margin-left: 700px;
}

/* -------------------------------------------------------------processbar--------------------------------------------------------------- */

.skill-qualification {
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
    margin-top: 100px;
    display: flex;
    color: #fff;
    background-color: #262626;
    box-shadow: 0 0 0 0 #ffffff;
}

.skill-qualification .container {
    margin-left: 200px;
}

.skill-qualification .container .des {
    color: rgba(255, 255, 255, 0.8);
    width: 88%;
}

.skill-qualification .container .text::after {
    top: 60px;
    height: 1.5px;
}

.skill-qualification .processbar {
    width: 118%;
    margin-right: 200px;
}

.skill-qualification .processbar .container {
    height: 100px;
    width: 400px;
}

/* processbar */
.container-process {
    width: 100%;
    padding-top: 40px;
}

.container-process .label1 .title {
    color: #fff;
    font-size: 16px;

}

#pt {}

#myProgress {
    width: 100%;
    background-color: #ddd;
    border-radius: 8px;
    height: 4px;
}

#myBar {
    width: 1%;
    height: 4px;
    background-color: #04AA6D;
    border-radius: 8px;

}

#myProgress-92 {
    width: 100%;
    background-color: #ddd;
    border-radius: 8px;
    height: 4px;
}

#myBar-92 {
    width: 1%;
    height: 4px;
    background-color: #04AA6D;
    border-radius: 8px;

}

#myProgress-87 {
    width: 100%;
    background-color: #ddd;
    border-radius: 8px;
    height: 4px;
}

#myBar-87 {
    width: 1%;
    height: 4px;
    background-color: #04AA6D;
    border-radius: 8px;

}

#myProgress-98 {
    width: 100%;
    background-color: #ddd;
    border-radius: 8px;
    height: 4px;
}

#myBar-98 {
    width: 1%;
    height: 4px;
    background-color: #04AA6D;
    border-radius: 8px;

}


/*-------------------------------------------------------------------the blog--------------------------------------------------------------- */

.blog {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 0 0 0 #ffffff;
    padding-top: 100px;
    padding-bottom: 50px;
}

.blog .container-inner .text::after {
    left: 740px;
    height: 1.5px;
    top: 60px;
}

.blog .grid-blog .row2 {
    display: flex;
}

.blog .grid-blog .row2 .col-md-3.active {
    margin-left: 205px;
}

.blog .grid-blog .row2 .col-md-3 .one img {
    width: 350px;
    height: 200px;
}

.blog .grid-blog .row2 .col-md-3 .one .text {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: #262626;
    margin: 15px 0px 10px 0px;
}

.blog .grid-blog .row2 .col-md-3 .one .text::after {
    display: none;
}

.blog .grid-blog .row2 .col-md-3 .one .title {
    font-size: 14px !important;
    font-weight: 400;
    text-align: left;
    font-family: 'Open Sans', sans-serif;

}

.blog .grid-blog .row2 .col-md-3 .one .des {
    float: left;
    text-align: left;
    color: rgba(38, 38, 38, 0.8);
    margin: 15px 0 0 0;
}

.blog .grid-blog .row2 .col-md-3 .one .btn-read-more {
    float: left;
    text-align: left;
    color: #0ec17c;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Oswald';
    text-transform: uppercase;
    margin-top: 10px;
}

/*----------------------------------------------------------------  price table ------------------------------------------------ */

.price-table {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
    box-shadow: 0 0 0 0 #ffffff;
    background-color: #fff;
}

.price-table .text::after {
    top: 60px;
    left: 740px;
    height: 1.5px;
}

.price-table .grid-price .row2 {
    text-align: center;
    align-items: center;
    margin-left: 150px;
}

.btn-buy-now {
    background-color: transparent;
    border-color: #0ec17c;
    color: #0ec17c;
    padding: 15px 15px 15px 15px;
    font-size: 16px;
    font-weight: 400px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    border: 2px solid;
    border-radius: 100px;
    text-decoration: none;
    width: 70%;
}

.btn-buy-now.active {
    width: 70%;
    color: #fff;
    background-color: #0ec17c;
    text-decoration: none;
    padding: 15px 15px 15px 15px;
    font-size: 16px;
    font-weight: 400px;
    margin: 15px;
    border: 2px solid;
    border-radius: 100px;
}

.one.active {
    box-shadow: 0px 0px 30px 10px rgb(38 38 38 / 20%);
    background-color: #f9f9f9;
}


.btn-buy-now:hover {
    border-color: #0ec17c;
    background-color: #0ec17c;
    color: #fff;
}

.price-table .grid-price .row2 .col-md-3 .one {
    margin-left: 30px;

    background-color: #f9f9f9;
    padding: 10px;
}

.price-table .grid-price .row2 .col-md-3 .one:hover {

    transform: scale(1);
    box-shadow: 0px 0px 30px 10px rgb(38, 38, 38, 45%);
    transition: .4s;
}

.price-table .grid-price .row2 .col-md-3 .one.active {

    padding-top: 2em;
}

.pricing-features {
    list-style: none;
}

.price-table .grid-price .row2 {
    display: flex;
}

.price-table .grid-price .row2 .col-md-3 {
    width: 400px;
}

.price-table .grid-price .row2 .col-md-3 .one .price .pricing-price {
    color: #262626;
    font-size: 45px;
    line-height: 45px;
    font-weight: 400;
}

.price-table .grid-price .row2 .col-md-3 .one .price .pricing-duration {
    color: rgba(38, 38, 38, 0.5);
    font-size: 14px;
}

.price-table .grid-price .row2 .col-md-3 .one .pricing-features li {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 20px;
}

/*---------------------------------------------------------- Our customer--------------------------------------------------------- */

.message {
    background-color: #f9f9f9;
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: 0 0 0 0 #ffffff;

}

.section-customer {
    display: none;
}

.message .section {
    margin-left: 212px;
    margin-right: 188px;
}

.message .section .columns .column .slideshow .slide .message1 {

    box-shadow: 0 0 0 0 #ffffff;
}

.message .section .columns .column .slideshow .slide .message2 {

    box-shadow: 0 0 0 0 #ffffff;
}

.message .container-inner .text::after {
    left: 745px;
    height: 1.5px;
}

.message .section .columns .column .slideshow .slide {
    display: flex;
}

.message .section .columns .column .slideshow .slick-dots {
    margin-left: 500px;
}

/* massage1 */

.message .section .columns .column .slideshow .slide .message1 .txt .icon {
    position: absolute;
    z-index: 0;
    max-width: 100%;
    margin-top: 50px;
}

.message .section .columns .column .slideshow .slide .message1 .txt .icon i {
    margin-left: 7px;
    font-size: 100px;
    color: #fff;
}

.message .section .columns .column .slideshow .slide .message1 .txt {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    position: relative;
    width: 500px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 1px -6px 20px 3px #59545421;

}

.message .section .columns .column .slideshow .slide .message1 .avatar {
    position: relative;
    display: flex;
    margin-left: 60px;
}

.message .section .columns .column .slideshow .slide .message1 .avatar .image-avata {
    border-radius: 100px;
    object-fit: fill;
    display: block;
    width: 100%;
    height: 100%;
    padding-right: 0px;
    max-width: 13%;
}

.message .section .columns .column .slideshow .slide .message1 .infor {
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
}

.message .section .columns .column .slideshow .slide .message1 .infor .name {
    font-size: 20px;
    color: #262626;
    font-family: "Oswald";
    font-weight: 600;
}

.message .section .columns .column .slideshow .slide .message1 .infor .designation {
    font-size: 14px;
    color: rgba(38, 38, 38, 0.5);
    font-family: 'Open Sans', sans-serif;
}

.text1 {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    letter-spacing: 0px;
    color: rgba(38, 38, 38, 0.5);
    text-align: left;
    padding: 30px;
    background: #fff;
    margin-bottom: 40px;
    font-style: italic;
    border-radius: 20px;

    position: relative;

}

/* message2 */
.message .section .columns .column .slideshow .slide .message2 .txt2 .icon {
    position: absolute;
    max-width: 100%;
    margin-top: 70px;
}

.message .section .columns .column .slideshow .slide .message2 .txt2 .icon i {
    margin-left: -25px;
    font-size: 100px;
    color: #fff;
}

.message .section .columns .column .slideshow .slide .message2 .txt2 {
    margin-top: 50px;
    padding: 30px;
    margin-left: 30px;
    position: relative;

    width: 500px;
    height: 180px;
    font-style: italic;
    border-radius: 20px;
    box-shadow: 1px -6px 20px 3px #59545421;
    margin-right: 50px;
    background: #fff;
}

.message .section .columns .column .slideshow .slide .message2 .avatar {
    position: relative;
    display: flex;
    margin-left: 70px;
    margin-top: 50px;
}

.message .section .columns .column .slideshow .slide .message2 .avatar .image-avata {
    border-radius: 100px;
    object-fit: fill;
    display: block;
    width: 100%;
    height: 100%;
    padding-right: 0px;
    max-width: 12%;
}

.message .section .columns .column .slideshow .slide .message2 .infor {
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
}

.message .section .columns .column .slideshow .slide .message2 .infor .name {
    font-size: 20px;
    color: #262626;
    font-family: "Oswald";
    font-weight: 600;
}

.message .section .columns .column .slideshow .slide .message2 .infor .designation {
    font-size: 14px;
    color: rgba(38, 38, 38, 0.5);
    font-family: 'Open Sans', sans-serif;
}

.slide .image-avatar {
    max-width: 100%;
    width: 100%;
    height: 300px;
    padding-right: 30px;
}

.text2 {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    letter-spacing: 0px;
    color: rgba(38, 38, 38, 0.5);
    text-align: left;
    margin-bottom: 40px;
    font-style: italic;
    border-radius: 20px;
    background: #fff;
    position: relative;
}

/*------------------------------------------------------------------- logo partner-------------------------------------------------------- */
.partner {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff;
}

.section-partner {
    display: none;
}

.partner .section {
    margin-left: 204px;
    margin-right: 215px;

}

.partner .section .columns .column .slideshow .slide .img-partner {
    width: 190px;
    height: 112px;
    border: 2px solid rgba(38, 38, 38, 0.2);
    border-radius: 10px;
    margin-right: 30px;
    min-height: 110px;
    transition: all 0.5s ease 0s;
}

.partner .section .columns .column .slideshow .slide .img-partner .carousel-image {
    width: 150px;
    height: 30px;
    margin-top: 40px;
    margin-left: 30px;

}

.partner .section .columns .column .slideshow .slick-dots {
    margin-left: 500px;
}

/*------------------------------------------------------------- Form  Contact us--------------------------------------------------------- */
/* */
.contact-us {
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 100px;
    box-shadow: 0 0 0 0 #ffffff;
    position: absolute;
    background-color: #ffffff;
    margin-top: -100px;
    width: 100%;
}

/* map contact */
.contact-us .image-background-contact {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    box-shadow: 0 0 0 0 #ffffff;

}

.contact-us .form .container-inner .text::after {
    left: 590px;
}

.contact-us .image-background-contact .wrap-map {
    position: relative;
}

.contact-us .image-background-contact .wrap-map iframe {
    height: 920px;
    width: 100%;
    box-shadow: 0 0 0 0 #ffffff;
    /* doi fillter anh */
    filter: grayscale(1);
}

.form {
    padding: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 30px 10px rgb(38 38 38 / 10%);
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0;
    max-width: 1320px;
    margin-left: 100px;
    width: 100%;
}

.form .form-builder {
    display: flex;
}

.form .form-builder .col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;

}

.form .form-builder .col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
    width: 50%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba(38, 38, 38, 0.2);
    outline: none;
}

/* placeholder input */
.email::placeholder {
    color: white;
    opacity: 1;
}

.form .button {
    text-align: center;
    margin-top: 50px;
}

.form .button button {
    background-color: #0ec17c;
    color: #ffffff;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    border-radius: 100px;
    border: 1px solid #0ec17c;
}


/* form 1 */
.form1 {
    position: relative;
    margin-top: 650px;
}

/* form green */
.form-green {
    background-color: #0ec17c;
    padding-bottom: 200px;
    padding-top: 100px;
    text-align: center;

}

.form-green .title {
    color: #262626;
}

.form-green .text {
    color: white;
    margin-bottom: 100px;
}

.form-green .text::after {

    background: #fff;
    left: 740px;
    top: 60px;
    height: 1.5px;
}

.form-green .form-email {
    display: flex;
}

.form-green .form-email .col-md-8 input {
    border-radius: 100px;
    border: 1px solid rgba(38, 38, 38, 0.2);

    margin-left: 130px;
    background-color: #0ec17c;
    color: #fff;
}

.form-green .form-email .col-md-4 button {
    border: 1px solid #0ec17c;
    background-color: #ffffff;
    color: #0ec17c;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    border-radius: 100px;
    font-weight: bold;
    margin-left: 30px;
}

.form-green .form-email .col-md-8 input:focus-visible {
    border-color: #80bdff;
    outline: none;
}

/* icon-contact */
.icon-contact {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-left: 500px;
    position: absolute;
    margin-top: -50px;
}

.icon-contact div {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #fff;
    transform: rotate(45deg);
    margin-right: 100px;
    background-color: #262626;
}

.icon-contact div i {
    transform: rotate(-45deg);
    margin-top: 40px;
    color: #fff;
}

/* form black */
.form-black {
    background-color: #262626;
    padding-top: 100px;
    padding-bottom: 100px;
}

.form-black .container-inner .text {
    color: white;
}

.form-black .container-inner .text::after {
    display: none;
}

.form-black .container-inner .link-wrap {
    display: flex;
    margin-left: 500px;
}

.form-black .container-inner .link-wrap>li>a {
    color: rgba(255, 255, 255, 0.5);
}

.form-black .container-inner .link-wrap .left {
    margin-left: -55px;
}

.form-black .container-inner .link-wrap>li>a>i {
    font-size: 5px;
    line-height: 5px;
    margin: 0px 15px 0px 15px;
}

.form-black .container-inner .link-wrap>li>a:hover {
    color: #fff;
}



/*----------------------------------------------------------- go to top  (scroll top)------------------------------------------------------- */

#myBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 30px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    z-index: 99;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 100%;
}

#myBtn:hover {
    background-color: #555;
}

/* mobile and table width< 1024*/
@media only screen and (max-width: 63.9375em) {
    .container12 {
        overflow: scroll;
        overflow-x: hidden;
    }

    header .logo {
        position: absolute;
        top: 40%;
        left: 70%;
    }

    header.sticky {
        background: #fff;
        color: #0ec17c;
    }

    .fas.fa-bars {
        display: block;
        color: #04AA6D;
        font-size: 2em;
        position: absolute;
        top: 55%;
        left: 5%;
    }

    .navbar1 {
        display: none;
    }

    .imagebackground .title h1:after {
        left: 25%;
        top: 130%;
     
    }
    @keyframes animobi {
        0% {left: 35%;top: 80%;}
        100% {left: 35%;top: 40%;}
    }

    .imagebackground .title h1 {
        font-size: 16px;
    }
    .imagebackground .title {
        top: 40%;
        left: 35%;
        animation: animobi ease 2s;
    }

    .navbar-mobile {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 70%;
        max-width: 100%;
        background-color: #fff;
        transform: translateX(-100%);
    }

    .nav-input:checked~.nav-overplay {
        display: block;
    }

    .nav-input:checked~.navbar-mobile {
        transform: translateX(0%);
    }

    .navbar-mobile .logo {
        position: absolute;
        top: 5%;
        left: 8%;
    }

    .navbar-mobile .close {
        float: right;
        margin-right: 50px;
        margin-top: 50px;
    }

    .navbar-mobile .close i {
        font-size: 36px;

    }

    li.dropdown1>a {
        color: #262626;
    }

    li.dropdown1 {
        display: block;
    }

    li.dropdown1.active>a {
        margin-top: 200px;
    }

    .navbar-mobile .contact-logo {
        display: flex;

    }

    .navbar-mobile .contact-logo .col-md-2 {
        padding: 10px 0px;
        background-color: #04AA6D;
        color: #fff;
        margin-right: 10px;
        text-align: center;
        margin-left: 8px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .navbar-mobile .des {
        width: 70%;
        margin-left: 40px;
    }

    .navbar-mobile .des a {
        font-size: 14px;
        color: #262626;
        font-weight: 400;
        line-height: 1.2;
        text-decoration: none;

    }

    /* .who-are-we */
    .who-are-you {
        padding-top: 870px;
    }

    .who-are-you .container {
        margin-left: 0px;
    }

    .who-are-you .container .row {
        padding-left: 0px;
        display: block;
    }

    .who-are-you .container .row .col-md-4 {
        width: 100%;
    }

    .who-are-you .container .row .col-md-6 {
        margin-top: 1em;
        width: 100%;
    }

    /* what-we-offer */
    .mobile-hidden {
        display: none;
    }

    .what-we-offer .container.text-center .row .col .image {
        margin-left: 100px;
    }

    .what-we-offer .container.text-center .row .col .text:after {
        top: -30px;
        left: 30%;
    }

    .what-we-offer .container.text-center .row .col .text {
        width: 95%;
        text-align: left;
    }

    /* need-a-creative-project */
    .need-a-creative-project .description1 .container-inner .text {
        width: 90%;
        left: 5%;
    }

    /* the-best-project */
    .tab {
        margin-left: 15%;
    }

    .the-best-project .container-inner .text::after {
        left: 48%;
        height: 2px;
    }

    .the-best-project .row123 .container-all .row2 {
        height: 150px;
    }

    .the-best-project .row123 .container-all .row2 .col-md {
        width: 25%;

    }

    .the-best-project .row123 .container-all .row2 .col-md img {
        height: 150px;
    }

    .the-best-project .row123 .container-all .row2 .col-md img {
        width: 200px;
    }

    /* cooperation with us*/
    .cooperation {
        display: none;
    }

    /* follow */
    .follow {
        padding-right: 0px;
        padding-left: 10px;
    }

    .follow .container .row .col-sm-3 {
        padding-right: 225px;
    }

    /* description */
    .description {
        padding-left: 2em;

    }

    .description .row2 .col-sm-3 {
        width: 50%;
    }

    /* our-team */
    .our-team .container-inner .text::after {
        top: 60px;
        left: 48%;
        height: 2px;
    }

    .section {
        display: none;
    }

    .section-mobile {
        display: block;

    }

    .section .columns .column .slideshow1 .slide .col-md .carousel-image1 .info {
        background-color: #fff;
        height: 120px;
        text-align: center;
        padding-top: 20px;
        margin-right: 30px;
        border-bottom: 2px solid #0ec17c;
    }

    .section .columns .column .slideshow1 .slide .col-md {
        width: 300px;
    }

    .name {
        font-size: 20px;
        letter-spacing: 0px;
        color: #262626;
        font-weight: 400;
        font-family: "Oswald";
        text-transform: uppercase;
    }

    .design {
        font-size: 14px;
        letter-spacing: 0px;
        color: rgba(38, 38, 38, 0.5);
        font-family: 'Open Sans', sans-serif;
    }

    /* slick slider */

    .section-mobile .columns .column .slideshow1 .slide {
        display: flex;
    }

    .slide img {
        max-width: 100%;
        width: 100%;
        height: 300px;
        padding-right: 20px;
    }

    .slick-dots li button {
        margin-top: 50px;
        margin-bottom: 100px;
        margin-left: 10px;
        font-size: 0px;
        padding: 7px;
        border: none;
        border-radius: 100%;
        background: rgba(38, 38, 38, 0.5);
    }

    .slick-dots li button:hover {
        background: #0ec17c;
        color: #0ec17c;
    }

    .slick-dots .slick-active button {
        background: #0ec17c;
        border-radius: 100%;
        color: #0ec17c;

    }

    .slick-dots {
        display: flex;
        margin-left: 48%;
    }

    /* processbar */
    .skill-qualification {
        display: block;
        width: 100%;
    }

    .skill-qualification .container {
        width: 100%;
        font-weight: 500;
        max-width: 100%;
        margin-left: 20px;
    }

    .skill-qualification .processbar {
        margin-left: 30px;
        padding-right: 210px;
    }

    /* blog */
    .blog .container-inner .text::after {
        left: 48%;
    }

    .blog .grid-blog .row2 .col-md-3.active {
        margin-left: 15px;
    }

    .blog .grid-blog .row2 .col-md-3 {
        width: 50%;
    }

    .blog .grid-blog .row2 .col-md-3 .one img {
        margin-left: -20px;
        margin-right: 15px;
    }

    .blog .grid-blog .row2 .col-md-3 .one .btn-read-more {
        margin-left: -314px;
    }

    /* price-table */
    .price-table .grid-price .row2 .col-md-3 {
        width: 50%;
    }

    .price-table .grid-price .row2 {
        margin-left: 0px;
        margin-right: 50px;
    }

    .price-table .text::after {
        left: 48%;
    }

    /* our customer */
    .section-customer {
        display: block;
    }

    .message .section-customer .columns .column .slideshow .slide .message1 {

        box-shadow: 0 0 0 0 #ffffff;
    }

    .message .section-customer .columns .column .slideshow .slide .message2 {

        box-shadow: 0 0 0 0 #ffffff;
    }

    .message .container-inner .text::after {
        left: 48%;
        height: 1.5px;
    }

    .message .section-customer .columns .column .slideshow .slide {
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
    }

    .message .section-customer .columns .column .slideshow .slick-dots {
        margin-left: 48%;
    }

    /* massage1 */

    .message .section-customer .columns .column .slideshow .slide .message1 .txt .icon {
        position: absolute;
        z-index: 0;
        max-width: 100%;
        margin-top: 50px;
    }

    .message .section-customer .columns .column .slideshow .slide .message1 .txt .icon i {
        margin-left: 7px;
        font-size: 100px;
        color: #fff;
        margin-top: -23px;
    }

    .message .section-customer .columns .column .slideshow .slide .message1 .txt {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 50px;
        position: relative;
        width: 630px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 1px -6px 20px 3px #59545421;

    }

    .message .section-customer .columns .column .slideshow .slide .message1 .avatar {
        position: relative;
        display: flex;
        margin-left: 60px;
    }

    .message .section-customer .columns .column .slideshow .slide .message1 .avatar .image-avata {
        border-radius: 100px;
        object-fit: fill;
        display: block;
        width: 100%;
        height: 100%;
        padding-right: 0px;
        max-width: 13%;
    }

    .message .section-customer .columns .column .slideshow .slide .message1 .infor {
        margin-top: 10px;
        margin-left: 20px;
        text-align: left;
    }

    .message .section-customer .columns .column .slideshow .slide .message1 .infor .name {
        font-size: 20px;
        color: #262626;
        font-family: "Oswald";
        font-weight: 600;
    }

    .message .section-customer .columns .column .slideshow .slide .message1 .infor .designation {
        font-size: 14px;
        color: rgba(38, 38, 38, 0.5);
        font-family: 'Open Sans', sans-serif;
    }

    /* message2 */
    .message .section-customer .columns .column .slideshow .slide .message2 .txt2 .icon {
        position: absolute;
        max-width: 100%;
        margin-top: 70px;
    }

    .message .section-customer .columns .column .slideshow .slide .message2 .txt2 .icon i {
        margin-left: -25px;
        font-size: 100px;
        color: #fff;
    }

    .message .section-customer .columns .column .slideshow .slide .message2 .txt2 {
        margin-top: 50px;
        padding: 30px;
        margin-left: 30px;
        position: relative;

        width: 630px;
        height: 180px;
        font-style: italic;
        border-radius: 20px;
        box-shadow: 1px -6px 20px 3px #59545421;
        margin-right: 50px;
        background: #fff;
    }

    .message .section-customer .columns .column .slideshow .slide .message2 .avatar {
        position: relative;
        display: flex;
        margin-left: 70px;
        margin-top: 50px;
    }

    .message .section-customer .columns .column .slideshow .slide .message2 .avatar .image-avata {
        border-radius: 100px;
        object-fit: fill;
        display: block;
        width: 100%;
        height: 100%;
        padding-right: 0px;
        max-width: 12%;
    }

    .message .section-customer .columns .column .slideshow .slide .message2 .infor {
        margin-top: 10px;
        margin-left: 20px;
        text-align: left;
    }

    .message .section-customer .columns .column .slideshow .slide .message2 .infor .name {
        font-size: 20px;
        color: #262626;
        font-family: "Oswald";
        font-weight: 600;
    }

    .message .section-customer .columns .column .slideshow .slide .message2 .infor .designation {
        font-size: 14px;
        color: rgba(38, 38, 38, 0.5);
        font-family: 'Open Sans', sans-serif;
    }

    /* logo partner */
    .section-partner {
        display: block;
    }

    .partner .section {
        margin-left: 204px;
        margin-right: 215px;

    }

    .partner .section-partner .columns .column .slideshow .slide {
        display: flex;
        margin-left: -10px;
        margin-right: 50px;
    }

    .partner .section-partner .columns .column .slideshow .slide .img-partner {
        width: 190px;
        height: 112px;
        border: 2px solid rgba(38, 38, 38, 0.2);
        border-radius: 10px;
        margin-right: 40px;
        min-height: 110px;
        transition: all 0.5s ease 0s;
    }

    .partner .section-partner .columns .column .slideshow .slide .img-partner .carousel-image {
        width: 150px;
        height: 30px;
        margin-top: 40px;
        margin-left: 30px;

    }

    /* .contact-us */
    .contact-us .form .container-inner .text::after {
        left: 48%;
    }

    .form {
        width: 95%;
        margin-left: 17px;
    }

    .form-green .text::after {
        left: 48%;
    }

    .form-green .form-email .col-md-4 button {
        padding: 15px 25px;
        margin-right: 30px;
        margin-left: 0px;
    }

    .form-green .form-email .col-md-8 input {
        margin-left: 50px;
        width: 90%;
    }

    .icon-contact {
        margin-left: 17%;
    }

    .container-inner {
        margin-left: 0px;
    }

    .form-black .container-inner .link-wrap {
        margin-left: 22%;
    }
}

/* mobile width< 740 */
@media only screen and (max-width: 46.1875em) {}

/* table  width < 1024*/
@media only screen and (min-width: 46.25em) and (max-width: 46.1875em) {}