body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.container-inner{
    text-align: center;
}
.text{
    font-family: "Oswald";
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 50px;
}
.title{
    color: #0ec17c;
    font-weight: 400;
    font-size: 1.25rem;

}
.des{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.imagebackground{
    background: rgba(38, 38, 38, 0.8);
    left: 0;
    top: 0;
    height: 800px;
    width: 100%;
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    z-index: 1;
   background-blend-mode:darken ;
   font-family: 'Oswald',sans-serif;
   text-decoration: none;
   position: absolute;
}
.imagebackground .row1 {
    display: flex;
   
}
.logo{
    margin-left: 100px;
    margin-top: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}



li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover,
.dropdown1:hover .dropbtn {
    color: #0ec17c;
    font-weight: bold;
}

li.dropdown1 {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-top:  3px solid #0ec17c;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 3px solid #262626;
}

.dropdown-content a:hover {
    background-color: white;
    color: #0ec17c;
}

.dropdown1:hover .dropdown-content {
    display: block;
}
li.dropdown1.active> a{
    color: #0ec17c;
}
a.item.active{
    color: #0ec17c;
  
}
/* button need a cretive project */
.need-a-creative-project .project-image {
    background: rgba(38, 38, 38, 0.8);
    margin-top: 100px;
    left: 0;
    top: 0;
    height: 420px;
    width: 100%;
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    z-index: 1;
   background-blend-mode:darken ;
   font-family: 'Oswald',sans-serif;
   text-decoration: none;
   position: relative;

}

.button .btn-contatc-now {
    background-color: #0ec17c;
    color: #fff;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    font-weight: 400px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 100px;
    text-decoration: none;
}

.button .btn-read-now {
    color: #fff;
    text-decoration: none;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    font-weight: 400px;
    margin: 15px;
    border: 2px solid;
    border-radius: 100px;
}

.button .btn-read-now:hover {
    border-color: #0ec17c;
    background-color: #0ec17c;
    color: #fff;
}
/* the best project */
.navbar-nav .nav-item .nav-link.active{
 color: #0ec17c;
}
.navbar-nav .nav-item .nav-link:hover{
    text-decoration: none;
   }

.button-view-more .btn-view-more:hover{
    position: relative;
    border-color: #0ec17c;
    background-color: #0ec17c;
    color: #fff;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    font-weight: 400;
    margin: 15px;
    border: 2px solid;
    border-radius: 100px;
    text-decoration: none;
}
.button-view-more .btn-view-more{
    position: relative;
    border-color: #0ec17c;

    color: #0ec17c;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    font-weight: 400;
    margin: 15px;
    border: 2px solid;
    border-radius: 100px;
    text-decoration: none;
}
/* follow */
.follow{
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 70px;
    padding-left: 0px;
    margin: 0px;
    color: #fff;
    background-image: url(https://raw.githubusercontent.com/uiaextend/jozon/main/01_01_Ozon_One_Page_1/pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 0 0;
    box-shadow: 0 0 0 0 #ffffff;
    will-change: top;
    z-index: 1;
    position: relative;
    background-color: rgba(14, 193, 124, 0.8);;
}
.number1{
    width: 48px;
    height: 48px;
    line-height: 48px;
    background-color: rgba(3, 225, 109, 0);
    color: #ccc;
    font-size: 45px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-radius: 100px;
    font-family: "Oswald";
}
.description .row .col-sm .des{
    margin-top: 15px;
    color: rgba(38, 38, 38, 0.8);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

/* carousel */
.carousel {
    display: block;
    width: 100%;
    padding-top: 26%;
 }
/* Images */
.carousel-image {
    width: 100%;
    height: 70%;
 }
 /* Positioning Images */
 .carousel {
    position: relative;
 }
 .carousel-image {
    position: absolute;
    top: 0;
    left: 0;
 }
.carousel-image {
    display: none;
 }
 .carousel-indicator:checked + .carousel-image {
    display: inline-block;
 }
 .carousel-indicator:hover{
    background: #0ec17c;
 }
/* Positioning Indicators */
.carousel {
    text-align: center;
    word-spacing: 12px;
   
 }

/* processbar */
.skill-qualification{
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin-top:100px ; 
    display: flex;
    color: #fff;
    background-color: #262626;
    box-shadow: 0 0 0 0 #ffffff;
}
.skill-qualification .container{
    margin-left: 200px;
}
.skill-qualification .container .des{
    color: rgba(255, 255, 255, 0.8);;
}
.skill-qualification .processbar{
    margin-right: 200px;
}
.skill-qualification .processbar .container {
    height: 100px;
    width: 400px;
}
.skill-qualification .processbar .container .label1 span{
    margin-left: 170px;
}
.skill-qualification .processbar .container .label2 span{
    margin-left: 160px;
}
.skill-qualification .processbar .container .label3 span{
    margin-left: 200px;
}
.skill-qualification .processbar .container .label4 span{
    margin-left: 240px;
}


.skill-qualification .processbar .container .progress {
    margin: 0 auto;
    font-size: 10px;
}
 
.container .progress{
    height: 4px;
}

.progress .progress-bar92{
    background-color: #0ec17c;
    width: 92%;
  
}
.progress .progress-bar95{
    background-color: #0ec17c;
    width: 95%;
   
}
 
.progress .progress-bar87{
    background-color: #0ec17c;
    width: 87%;
 
}
 
.progress .progress-bar98{
    background-color: #0ec17c;
    width: 98%;
 
}

/* the blog */
.blog{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 0 0 0 #ffffff;
    padding-top: 100px;
    padding-bottom: 50px;
    z-index: 1;
    position: relative;
}
.blog .grid-blog .row2{
    display: flex;
}
.blog .grid-blog .row2 .col-md-3.active{
    margin-left: 250px;
}
.blog .grid-blog .row2 .col-md-3 .one img{
    width:350px; height: 200px;
}
.blog .grid-blog .row2 .col-md-3 .one .text{
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: #262626;
    margin: 15px 0px 10px 0px;
}
.blog .grid-blog .row2 .col-md-3 .one .title{
    font-size: 14px !important;
    font-weight: 400;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}
.blog .grid-blog .row2 .col-md-3 .one .des{
    float: left;
    text-align: left;
    color: rgba(38, 38, 38, 0.8);
    margin: 15px 0 0 0;
}
.blog .grid-blog .row2 .col-md-3 .one .btn-read-more{
    float: left;
    text-align: left;
    color: #0ec17c;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}


/* price table  */
.price-table{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
    box-shadow: 0 0 0 0 #ffffff;
}
.price-table .grid-price .row2{
    text-align: center;
    align-items: center;
    margin-left: 150px;
}

.btn-buy-now {
    background-color: transparent;
    border-color: #0ec17c;
    color: #0ec17c;
    padding: 15px 15px 15px 15px;
    font-size: 16px;
    font-weight: 400px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    border: 2px solid ;
    border-radius: 100px ;
    text-decoration: none;
    width: 70%;
}

.btn-buy-now.active {
    width: 70%;
    color: #fff;
    background-color: #0ec17c;
    text-decoration: none;
    padding: 15px 15px 15px 15px;
    font-size: 16px;
    font-weight: 400px;
    margin: 15px;
    border: 2px solid;
    border-radius: 100px;
}
.one.active{
   box-shadow: 0px 0px 30px 10px rgb(38 38 38 / 20%);
   background-color: #f9f9f9;
}


.btn-buy-now:hover {
    border-color: #0ec17c;
    background-color: #0ec17c;
    color: #fff;
}
.price-table .grid-price .row2 .col-md-3 .one{
    margin-left: 30px;
 
    background-color:#f9f9f9 ;
    padding: 10px;
}
.price-table .grid-price .row2 .col-md-3 .one:hover{
 
    transform: scale(1);
    box-shadow: 0px 0px 30px 10px rgb(38, 38, 38 , 45%);
    transition: .4s;
}
.price-table .grid-price .row2 .col-md-3 .one.active{
 
    padding-top: 2em;
}
.pricing-features{
    list-style: none;
}
/* message */
.message{
    background-color: #f9f9f9;
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: 0 0 0 0 #ffffff;
   
}
 /* price table  */
 .price-table .grid-price .row2 {
    display: flex ;
 }
 .price-table .grid-price .row2 .col-md-3{
    width: 400px;
 }
 .price-table .grid-price .row2 .col-md-3 .one .price .pricing-price{
   color: #262626;
   font-size: 45px;
   line-height: 45px;
   font-weight: 400;
 }
 
 .price-table .grid-price .row2 .col-md-3 .one .price .pricing-duration{
   color: rgba(38, 38, 38, 0.5);
   font-size: 14px;
}
.price-table .grid-price .row2 .col-md-3 .one .pricing-features li{
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 20px;
 }
/* Our customers */
.message .carousel{
    position: relative;
}
.message .carousel .carousel-image .container5{
   display: flex;
}
/* massage1 */
.message .carousel .carousel-image .container5 .message1 .icon{
    position: absolute; max-width: 100%;  margin-top: 50px;
 }
 .message .carousel .carousel-image .container5 .message1 .icon i{
    margin-left: 260px ; font-size: 100px; color: #fff;
 }
 .message .carousel .carousel-image .container5 .message1 .txt{
     margin-left: 250px; position: relative;
 }
 .message .carousel .carousel-image .container5 .message1 .avatar{
    position: relative; display: flex; margin-left: 300px;
 }
 .message .carousel .carousel-image .container5 .message1 .avatar .image-avata{
    border-radius:100px ;  object-fit: fill; display: block;
 }
 .message .carousel .carousel-image .container5 .message1 .infor{
    margin-top: 10px;margin-left: 20px; text-align: left;
 }
 /* message2 */
 .message .carousel .carousel-image .container5 .message2 .icon{
    position: absolute; max-width: 100%;  margin-top:100px; 
 }
 .message .carousel .carousel-image .container5 .message2 .icon i{
    margin-left: 70px ;  font-size: 100px; color: #fff;
 }
 .message .carousel .carousel-image .container5 .message2 .txt{
    margin-right: 100px; margin-left: 50px; position: relative;
 }
 .message .carousel .carousel-image .container5 .message2 .avatar{
    position: relative; display: flex; margin-left: 120px;
 }
 .message .carousel .carousel-image .container5 .message2 .avatar .image-avata{
    border-radius:100px ;  object-fit: fill; display: block; 
 }
 .message .carousel .carousel-image .container5 .message2 .infor{
    margin-top: 10px;margin-left: 20px; text-align: left;
 }
 .text1{
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    letter-spacing: 0px;
    color: rgba(38, 38, 38, 0.8);
    text-align: left;
    padding: 30px;
    background: #fff;
    margin-bottom: 40px;
    font-style: italic;    
    border-radius: 20px;
}
/* logo partner */
.partner{
    margin-top: 100px; margin-right: 100px;
}
.partner .carousel{
    position: relative;
    padding-top: 16%;
    padding-bottom: 100px;
}
.partner .carousel .carousel-image .container7{
    display: flex;
    margin-left: 200px;
}

.partner .carousel .carousel-image .container7 .img-partner{
    width: 198px;border:2px solid rgba(38, 38, 38, 0.2); border-radius: 10px; height: 100px; margin-right: 30px;
}
.partner .carousel .carousel-image .container7 .img-partner .carousel-image0{
    width: 50%; height: 30%; margin-top: 30px;
}


/* Form  Contact us*/
.contact-us{
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 100px;
    padding-bottom: 130px;
    box-shadow: 0 0 0 0 #ffffff;
    position: relative;
    height: 2500px;
}
 /* map contact */
 .contact-us .image-background-contact{
    z-index: 0;
     position: absolute;
     left: 0; 
     top:100px; 
     width: 100%;  
     box-shadow: 0 0 0 0 #ffffff;
  }
  .contact-us .image-background-contact iframe{
    height:920px; 
    width:100%;
  }
.form{
    padding: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 30px 10px rgb(38 38 38 / 10%);
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0;
    max-width: 1320px;
    margin-left: 100px;
    width: 100%;
}
.form .form-builder {
    display: flex;
}
.form .form-builder .col-md-3{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
    
}
.form .form-builder .col-md-6{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
    width: 50%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba(38, 38, 38, 0.2);
  }
  /* placeholder input */
  .email::placeholder{
    color: white;
    opacity: 1; 
  }
   .form .button{
    text-align: center;
     margin-top: 50px;
  }
  .form .button button{
    background-color: #0ec17c; 
    color:#ffffff; 
    padding: 15px 50px 15px 50px; 
    font-size: 16px; 
    border-radius: 100px; 
    border: 1px solid #0ec17c;
  }
 
 
  /* form 1 */
.form1{
    position: relative;margin-top: 1000px;
}
/* form green */
.form-green{
    background-color: #0ec17c; 
    padding-bottom: 200px; 
    padding-top: 100px; 
    text-align: center;
}
.form-green .title{
    color: #262626;
}
.form-green .text{
    color: white;
}
.form-green .form-email{
    display: flex;
}
.form-green .form-email .col-md-8 input{
    border-radius: 100px; border:1px solid rgba(38, 38, 38, 0.2);; margin-left: 130px; background-color: #0ec17c; color: #fff;
}
.form-green .form-email .col-md-4 button{
    border: 1px solid #0ec17c; background-color: #ffffff; color:#0ec17c; padding: 15px 50px 15px 50px; font-size: 16px; border-radius: 100px;
}
/* form black */
.form-black{
    background-color: #262626;
    padding-top: 100px;
    ;padding-bottom: 100px
}
.form-black .container-inner .text{
    color:white ;
}
.form-black .container-inner .link-wrap{
    display: flex; 
    margin-left: 500px;
}
.form-black .container-inner .link-wrap> li> a{
    color:rgba(255, 255, 255, 0.5) ;
}
.form-black .container-inner .link-wrap> li> a:hover{
    color:#fff ;
}










/* drop image */
div.strip {
    margin-right: 30px;
    display: inline-block;
    background-image: url(https://raw.githubusercontent.com/uiaextend/jozon/main/01_01_Ozon_One_Page_1/unsplash_jeff-sheldon-264922.jpg);
    height: 550px;
    width: 370px;
    position: relative;
    background-position: 0 -20px;
}
div.strip2 {
    background-position:  -490px -20px;
    top: 100px;
}
/* go to top  (scroll top)*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 30px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    z-index: 99;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 100%;
  }
  
  #myBtn:hover {
    background-color: #555;
  }


